language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

branches:
  except:
    - master

install:
  - "pip install --upgrade setuptools"
  - "pip install nose"
  - "travis_retry pip install git+git://github.com/TurboGears/crank.git"
  - "travis_retry pip install git+git://github.com/TurboGears/backlash.git"
  - "travis_retry pip install git+git://github.com/TurboGears/tg2.git@development"
  - "pip install -e ."

script: "python setup.py nosetests"
