<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <title>{{target.capitalize()}}</title>
</head>

<body>
  <div class="row">
    <div class="col-md-12">
      <h2>{{target.capitalize()}}</h2>
      <p>
        Template page for {{target.capitalize()}}
      </p>
    </div>
  </div>
</body>
</html>
